<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <directories>
        <directory type="CURRENT">
            <path>C:\Users\Public\Documents\</path>
        </directory>
        <directory type="DEFAULT">
            <path>C:\Users\Public\Documents\</path>
        </directory>
    </directories>
    <currentDirectoryType>DEFAULT</currentDirectoryType>
    <emptyFieldsCheckEnabled>true</emptyFieldsCheckEnabled>
</settings>
